$lynn-bg: #2e3138;
$lynn-fcolor:#999;
$lynn-bcolor: #21242b;
$lynn-icon-color: #b5b5b5;
$lynn-active-color:#58c3e5;
$lynn-hover-bg: #3e4450;


@mixin tgl-down($border-width,$border-color) {
	border-width: $border-width;
	border-color: $border-color transparent transparent transparent;
	border-style: solid
}

@mixin tgl-up($border-width,$border-color) {
	border-width: $border-width;
	border-color: transparent transparent $border-color transparent;
	border-style: solid
}

@mixin unselectable(){
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}