@import 'var';
@import './lynn/lynn';
@import './plugins/plugins';


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


body {
	font-family: "Microsoft Yahei", "SimHei", sans-serif, Arial;
    font-size: 14px;
    line-height: 20px;
    color: $lynn-fcolor;
	background: $lynn-bg;
}


.lynn-chart {
	border: 1px solid $lynn-bcolor;
}
.lynn-chart-toolbar {
	height: 40px;
	border-bottom: 1px solid $lynn-bcolor;
}
.lynn-chart-lock {
	display: inline-block;
}

.cur-drag {
	cursor: url(cur/cursor_closed_hand.cur) 11 11, default;
}

.chart-wrap {
	min-height: 200px;
	background: $lynn-bg;
	em {
		font-style: normal;
	}

	.chart-box {
		position: relative;
		display: inline-block;
		background: url(../images/loading-sm.gif) center center no-repeat;
		
	}

	.simple-tip {
		position: absolute;
		z-index: 2;
		top:0;
		left: 10px;
		height: 30px;
		line-height: 30px;
		color: $lynn-fcolor;
		font-size: 14px;

		span {
			margin-right: 20px;
		}
	}

	.chart-loading {
		position: absolute;
		top:3px;
		right:10px;
		font-size: 14px;
		color: $lynn-fcolor;
	}

	.box-header {
		width: 100%;
		color: $lynn-fcolor;
		line-height: 30px;
		height: 30px;
		padding: 0 5px;
		border-bottom: 1px solid $lynn-bcolor;
		span {
			display: inline-block;
			padding: 0 5px;
		}		
	}

	.chart-status {
	    position: absolute;
	    z-index: 1000;
	    top: 0;
	    right: 70px;
	    height: 30px;
	    width: 100%;

	    span {
	    	display: inline-block;
			height: 100%;
			float:right;
			font-size: 14px;
			line-height: 30px;
			color: white;
	    }
	}
	
	.canvas-tip {
		span {
			display: inline-block;
			margin-right:10px;
			word-break: normal;
			color: $lynn-fcolor;
			background: $lynn-bg;
		}

		.area-tip {
			width: 90%;
			padding-left: 5px;
			padding-right: 5px;
			line-height: 28px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
		
	
	.canvas-box {
		position: relative;
	}

	
}


.lynn-chart-toolbar {
	height: 40px;
	padding-left:10px;
	line-height: 40px;
	color: $lynn-fcolor;
	border-bottom: 1px solid $lynn-bcolor;
	clear: both;

	.lynn-dropdown {
		float: left;
		margin-left: -1px;
	}
	.lynn-chart-jumpLastestbtn {
		float: left;
		height: 40px;
		padding: 0 10px;
		border-right: 1px solid $lynn-bcolor;
		.icon {
			font-size: 20px;
			color: $lynn-fcolor;

			&:hover {
				color: darken($lynn-fcolor,10%);
			}
		}
	}

	.lynn-chart-fullscreen {
		float: right;
		height: 40px;
		padding: 0 10px;	
		a {
			color: $lynn-fcolor;
		}	
	}

	.layoutCtrl-dp,
	.lynn-chart-lock {
		float: right;
		margin-right: -1px;
	}

	.lynn-chart-lock {
		display: inline-block;
		vertical-align: middle;
		
		span {
			vertical-align: middle;
		}
		a {
			vertical-align: middle;
			margin: 0 8px 0 5px;
		}
	}



	.lynn-chart-apply-all {
		float: left;
		padding-right:8px;
		display: inline-block;
		height: 40px;

		input {
			vertical-align: middle;
			margin-top: -2px;
			margin-right: 5px;
		}
	}
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	font-family: inherit;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	outline: none;
	padding: 5px 12px;
	font-size: 14px;
	line-height: 1.42857;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.lynn-dp-footer {
	.btn-dark {
		color: $lynn-fcolor;
		background-color: $lynn-bg;
		border-color: $lynn-bcolor;
		&:hover {
		    background-color: lighten($lynn-bcolor,2%);
		}
	}
}


.MAList{
	.lynn-spinner{
		display: inline-block;
		vertical-align: middle;

	}
	.spinner-input {
		width: 37px;
	}
	.sp-replacer{
		margin: 0 5px;
	}
	.btn-add {
		display: inline-block;
		height: 30px;
		width: 50px;
		vertical-align: middle;
	}
}

.chart-right-menu {
	position: relative;
  	width: 218px;
	border: 1px solid $lynn-bcolor;;

	a {
		display: block;
	    width: 100%;
	    color: $lynn-fcolor;
	    line-height: 40px;
	    height: 40px;
	    background: #3e4450;

	    span {
	    	margin: 0 3px;
	    }

	    .icon {
	    	position: absolute;
	      	right: 2px;
	      	font-size: 14px;
	    }

	    &.active {
	    	background: $lynn-bcolor;
	    }
	}

	.main-menu {
		a {
			padding: 0 20px 0 5px;
		}
	}

	.sub-menu {
		position: absolute;
	    top: 40px;
	    right: -40px;
	    width: 40px;
	    height: 202px;
	    border: 1px solid $lynn-bcolor;

	    a {
	    	text-align: center;

	    	&:hover {
	    		background: $lynn-bcolor;
	    	}
	    }
	}
	
}

.lock-btn {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 15px;
	background-color: #ccc;
	border-radius: 15px;

	i {
		position: absolute;
		display: inline-block;
		left: 13px;
		width: 15px;
		height: 15px;
		background: #fff;
		border-radius: 8px;
		transition: left .5;
	}

	&.locked {
		background-color: $lynn-active-color;
		i {
			left: 3px;
		}
	}
}