.lynn-spinner{
	height: 30px;
	font-size: 0;
	vertical-align: middle;
	overflow:hidden;
	.spinner-input {
		display: inline-block;
		width: 50px;
		height: 30px;
		padding: 5px;
		font-size: 12px;
		color: $lynn-fcolor;
		vertical-align: middle;
		background: $lynn-hover-bg;
		border: 1px solid $lynn-bcolor;
		outline:none;

		&:focus {
			border-color: $lynn-active-color;
		}
	}

	.spinner-btn {
		display: inline-block;
		width: 13px;
		height: 30px;
		border: 1px solid $lynn-bcolor;
		border-left:none;
		overflow: hidden;
		vertical-align: middle;
		a {
			display: block;
			width: 100%;
			height: 14px;
			margin:0;
			background: darken($lynn-bg,5%);
			text-align: center;

			i {
				display: inline-block;
				width: 0;
				height: 0;
			}

			&.decrease {
				border-top: 1px solid $lynn-bcolor;
				padding-top: 2px;
			}

			&:hover {
				background: $lynn-bg;

				.tgl-down {
					border-top-color: $lynn-active-color;
				}

				.tgl-up {
					border-bottom-color: $lynn-active-color;
				}
			}

			&:active {
				background: darken($lynn-bg,5%);
			}
		}


		.tgl-up {
			@include tgl-up(4px, $lynn-icon-color);
		}

		.tgl-down {
			@include tgl-down(4px,$lynn-icon-color);
		}
	}
}